.main{
    height: 100vh;
    background-color: #5A287D;
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.register-container{
    width: 365px;
    flex-shrink: 0;
    background: #F2F2F8;
    display: flex;
    flex-direction: column;
    padding: 2em;
    text-align: center;
    transition: height 0.3s ease;
}


.error-message {
    color: red;
    margin-top: 2px;
    font-family: Montserrat;
    font-size: 14px;
    display: flex;
  }

@media (max-width: 700px) {
    .register-container {
        width: 80%;
        padding: 20px;
    }
}

.faded {
    opacity: 0.8;
    pointer-events: none; 
    filter: blur(2px); 
}